
:root {
    --gray: #7c7c7c83;
    --primary-color: rgb(0, 0, 0);
    --secondary-color: #0056b3;
    background-color: white;
    --text-color: #000;
    --button-hover-color: #ffffff;
    --total-background-color: rgb(0, 38, 87);
    --corFundo: rgb(241, 241, 241);
    --variavelResultados: #ffffff;
    --varyellow: rgb(253, 253, 214);
}

.divCorrecaoFundo{
    position: absolute;
    width: 1150px;
    height: 100vh;
    background-color: var(--corFundo);
    z-index: -1;
    left: 0;
    overflow: hidden;
}
.tituloCadastro{
    position: absolute;
    top: -25px;
    left: 440px;
    color: var(--total-background-color);
    font-size: 15px;
}
.teste{
         position: absolute;
            top: -75px;
            left: 460px;
            color: var(--total-background-color);
            font-size: 15px}

.containerCliente{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: var(--corFundo);
}


.divInformacoes{
 position: absolute;
 height: 500px;
 width: 1000px;
 left: 240px;
 top:100px;
 justify-content: center;

}

.formCliente{
    display: flex;
    height: 350px;
    width: 1000px;
    margin-left: 20px;
    border: 1px solid var(--gray);
}

.labelClienteCadastro {
    position:absolute;
    border: 1px solid gray;
    width: 490px;
    color: white;
    background-color: var(--total-background-color);
    padding-right: 309px;
    padding-left: 200px;
}

.labelCPFCadastro {
    position: absolute;
    border: 1px solid gray;
    width: 249px;
    color: white;
    background-color: var(--total-background-color);
    top: 60px;
    padding-left: 200px;
}
.labelRGCadastro {
    position: absolute;
    border: 1px solid gray;
    width: 142px;
    left: 450px;
    color: white;
    background-color: var(--total-background-color);
    top: 60px;
    margin-left: 20px;
}
.labelNascimentoCadastro {
    position: absolute;
    border: 1px solid gray;
    width: 100px;
    left: 591px;
    top: 60px;
    color: white;
    background-color: var(--total-background-color);
    margin-left: 20px;
    padding-right: 309px;
}
.labelEnderecoCadastro {
    position: absolute;
    border: 1px solid gray;
    width: 390px;
    left: 0px;
    color: white;
    background-color: var(--total-background-color);
    top: 120px;
    padding-left: 200px;
    margin-left: 20px;
}
.labelNumeroCadastro {
    position: absolute;
    border: 1px solid gray;
    width: 100px;
    left: 391px;
    color: white;
    background-color: var(--total-background-color);
    top: 120px;
    margin-left: 220px;
    padding-right: 309px;
}

.labelBairroCadastro {
    position: absolute;
    border: 1px solid gray;
    width: 230px;
    left: 1px;
    color: white;
    background-color: var(--total-background-color);
    top: 180px;
    padding-left: 200px;
    margin-left: 20px;
}

.labelCidadeCadastro {
    position: absolute;
    border: 1px solid gray;
    width: 200px;
    left: 232px;
    color: white;
    background-color: var(--total-background-color);
    top: 180px;
    margin-left: 220px;
}
.labelUFCadastro {
    position: absolute;
    border: 1px solid gray;
    width: 58px;
    left: 433px;
    color: white;
    background-color: var(--total-background-color);
    top: 180px;
    margin-left: 220px;
    padding-right: 309px;
}

.labelOcupacaoCadastro {
    position: absolute;
    border: 1px solid gray;
    width: 239px;
    left: 252px;
    color: white;
    background-color: var(--total-background-color);
    top: 240px;
    margin-left: 220px;
    padding-right: 309px;
}
.labelFoneCadastro {
    position: absolute;
    border: 1px solid gray;
    width: 250px;
    left: 1px;
    color: white;
    background-color: var(--total-background-color);
    top: 240px;
    padding-left: 200px;
    margin-left: 20px;
}
.labelEmailCadastro {
    position: absolute;
    border: 1px solid gray;
    width: 310px;
    left: 1px;
    color: white;
    background-color: var(--total-background-color);
    top:300px;
    padding-left: 200px;
    margin-left: 20px;
    padding-right: 489px;
}

.inputClienteCadastro {
    position: absolute;
    background-color: var(--varyellow);
    width: 490px;
    border: 1px solid white;
    text-align: center;
    align-items: center;
    top: 21px;
    height: 18px;
    cursor: pointer;
    box-shadow: inset 1px 1px 2px rgb(0, 0, 0);
    margin-left: 200px;
}

.inputClienteCadastro:focus {
    outline: none;
    box-shadow: inset 1px 1px 2px rgb(0, 0, 0);
    
}


.inputCPFCadastro {
    position: absolute;
    background-color: var(--varyellow);
    left: 1px;
    width: 250px;
    border: 1px solid white;
    text-align: center;
    align-items: center;
    top: 80px;
    height: 18px;
    cursor: pointer;
    box-shadow: inset 1px 1px 2px rgb(0, 0, 0);
    margin-left: 220px;
    
}
.inputCPFCadastro:focus {
    outline: none;
    box-shadow: inset 1px 1px 2px rgb(0, 0, 0);
}
.inputRGCadastro {
    position: absolute;
    background-color: var(--varyellow);
    width: 141px;
    left: 250px;
    border: 1px solid white;
    text-align: center;
    align-items: center;
    top: 80px;
    height: 18px;
    cursor: pointer;
    box-shadow: inset 1px 1px 2px rgb(0, 0, 0);
    margin-left: 220px;
}
.inputRGCadastro:focus {
    outline: none;
    box-shadow: inset 1px 1px 2px rgb(0, 0, 0);
}
.inputNascimentoCadastro {
    position: absolute;
    background-color: var(--varyellow);
    width: 100px;
    left: 391px;
    top: 80px;
    border: 1px solid white;
    text-align: center;
    align-items: center;
    height: 18px;
    cursor: pointer;
    box-shadow: inset 1px 1px 2px rgb(0, 0, 0);
    margin-left: 220px;
}

.inputNascimentoCadastro:focus {
    outline: none;
    box-shadow: inset 1px 1px 2px rgb(0, 0, 0);
}
.inputEnderecoCadastro {
    position: absolute;
    background-color: var(--varyellow);
    width: 390px;
    left: 1px;
    border: 1px solid white;
    text-align: center;
    align-items: center;
    top: 140px;
    height: 18px;
    cursor: pointer;
    box-shadow: inset 1px 1px 2px rgb(0, 0, 0);
    margin-left: 220px;
}

.inputEnderecoCadastro:focus {
    outline: none;
    box-shadow: inset 1px 1px 2px rgb(0, 0, 0);
}

.inputNumeroCadastro {
    position: absolute;
    background-color: var(--varyellow);
    top: 140px;
    left: 391px;
    width: 100px;
    border: 1px solid white;
    text-align: center;
    align-items: center;
    height: 18px;
    cursor: pointer;
    box-shadow: inset 1px 1px 2px rgb(0, 0, 0);
    margin-left: 220px;
}

.inputNumeroCadastro:focus {
    outline: none;
    box-shadow: inset 1px 1px 2px rgb(0, 0, 0);
}
.inputBairroCadastro {
    position: absolute;
    background-color: var(--varyellow);
    top: 200px;
    left: 1px;
    width: 230px;
    border: 1px solid white;
    text-align: center;
    align-items: center;
    height: 18px;
    cursor: pointer;
    box-shadow: inset 1px 1px 2px rgb(0, 0, 0);
    margin-left: 220px;
}

.inputBairroCadastro:focus {
    outline: none;
    box-shadow: inset 1px 1px 2px rgb(0, 0, 0);
    
}
.inputCidadeCadastro {
    position: absolute;
    background-color: var(--varyellow);
    top: 200px;
    left: 232px;
    width: 200px;
    border: 1px solid white;
    text-align: center;
    align-items: center;
    height: 18px;
    cursor: pointer;
    box-shadow: inset 1px 1px 2px rgb(0, 0, 0);
    margin-left: 220px;
}

.inputCidadeCadastro:focus {
    outline: none;
    box-shadow: inset 1px 1px 2px rgb(0, 0, 0);
}
.inputUFCadastro {
    position: absolute;
    background-color: var(--varyellow);
    top: 200px;
    width: 58px;
    left: 433px;
    border: 1px solid white;
    text-align: center;
    align-items: center;
    height: 18px;
    cursor: pointer;
    box-shadow: inset 1px 1px 2px rgb(0, 0, 0);
    margin-left: 220px;
}

.inputUFCadastro:focus {
    outline: none;
    box-shadow: inset 1px 1px 2px rgb(0, 0, 0);
}
.inputOcupacaoCadastro {
    position: absolute;
    background-color: var(--varyellow);
    top: 260px;
    width: 239px;
    left: 252px;
    border: 1px solid white;
    text-align: center;
    align-items: center;
    height: 18px;
    cursor: pointer;
    box-shadow: inset 1px 1px 2px rgb(0, 0, 0);
    margin-left: 220px;
}

.inputOcupacaoCadastro:focus {
    outline: none;
    box-shadow: inset 1px 1px 2px rgb(0, 0, 0);
}
.inputFoneCadastro {
    position: absolute;
    background-color: var(--varyellow);
    top: 260px;
    left: 1px;
    width: 250px;
    border: 1px solid white;
    text-align: center;
    align-items: center;
    height: 18px;
    cursor: pointer;
    box-shadow: inset 1px 1px 2px rgb(0, 0, 0);
    margin-left: 220px;
}

.inputFoneCadastro:focus {
    outline: none;
    box-shadow: inset 1px 1px 2px rgb(0, 0, 0);
}
.inputEmailCadastro {
    position: absolute;
    background-color: var(--varyellow);
    top: 320px;
    left: 1px;
    width: 310px;
    border: 1px solid white;
    text-align: center;
    align-items: center;
    height: 18px;
    cursor: pointer;
    box-shadow: inset 1px 1px 2px rgb(0, 0, 0);
    margin-left: 220px;
}

.inputEmailCadastro:focus {
    outline: none;
    box-shadow: inset 1px 1px 2px rgb(0, 0, 0);
}

.cadastrarCliente{
        position: absolute; 
        background-color: white;
        border: 1px solid var(--total-background-color);
        color: var(--total-background-color);
        font-weight: none;
        text-align: center;
        top: 321px;
        bottom: 10px;
        left: 540px;
        padding: 1px 20px;
        border-radius: 2px;
        height: 20px;
        transition: background-color 0.3s ease;
    }

    .cadastrarCliente:hover {
        background-color: var(--varyellow);
    }


