:root {
    --primary-color: rgb(0, 0, 0);
    --secondary-color: #0056b3;
    --background-color: #f0f0f0;
    --text-color: #000;
    --button-hover-color: #7c7c7c;
    --total-background-color: rgb(0, 38, 87);
}

/* Estilo para o formulário */
.register-form {
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.register-container {
    display: flex;
    width: 100%;
}

.form {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
}

select {
    width: 107%;
    padding: 10px;
    margin: 10px -10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.optionSelecionar {
    background-color: var(--secondary-color);
    color: white;
}

/* Estilo para o cabeçalho do formulário */
.registroH1 {
    margin-top: 20px;
    color: var(--primary-color);
}

form h1 {
    font-size: 26px;
}

label {
    color: var(--primary-color);
}

/* Estilo para os campos de entrada */
form input {
    width: 100%;
    padding: 10px;
    margin: 10px -10px;
    border: 1px solid #ccc;
    font-size: 16px;

    &:focus {
        outline: 1px solid #000;
    }
}

.logar {
    width: 100%;
    padding: 10px;
    margin: 10px -10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: var(--button-hover-color);
        color: white;
    }
}

/* MyComponent.css */
.register-queryProdutos {
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.query-Container {
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100vh;
    display: flex;
}

.my-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.my-table th,
.my-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.my-table th {
    background-color: #f2f2f2;
}

.my-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    color: var(--text-color);
}

.my-table tr:hover {
    background-color: var(--primary-color);
    color: white;
}

/* tela Venda */
.titulo-venda {
    position: absolute;
    color: var(--primary-color);
    font-size: 17px;
    font-weight: normal;
    border-bottom: 1px solid #7c7c7c83;
    top: 10px;
    width: 100%;
}

.venda-container {
    display: flex;
    width: 2000px;
    height: 100vh;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color:#f0f0f0;
}

.cupom-form {
    background-color: #f0f0f0;
    width: 550px;
    color: var(--primary-color);
    font-size: 14px;
    position: relative;
    height: 270px;
    padding-top: 25px;
    border: 1px solid #7c7c7c83;
    margin-top: 20px;
    margin-left: 20px;
    
}

.informacoes-cupom {
    margin-top: 30px;
    width: 540px;
    right: 10px;
    background-color: #f0f0f0;
    height: 210px;
    border: 1px solid #7c7c7c83;
}

.total {
    font-size: 25px;
    margin-top: 138px;
    margin-right: 350px;
    height: 50px;
}

.spanTotal {
    color: rgb(0, 0, 0);
    font-size: 43px;
    margin-left: 10px;
    border: 1px solid #7c7c7c83;
    position: absolute;
    width: 340px;
    bottom: 160px;
    background-color: white;
}

.entradas-saidas {
    height: calc(100vh - 70px);
    background-color: var(--background-color);
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
    position: relative;
    /* background-color: red; */
    width: 100%;
    
}

.remover {
    margin-right: -1px;
    
}

.imgRemover {
    width: 30px;
    height: 30px;
    background-color: #cecece79;
    width: 15px;
    height: auto;
    cursor: pointer;
    float: right;
    margin-right: 20px;
    
}

.descricaoItens {
    border-bottom: 1px solid #7c7c7c83;
    width: 100%;
    left: 0;
}
.div-Form{
    width: 540px;
    margin-left: 20px;
    margin-top: 20px;
    height: 400px;
    bottom: 10px;
    
}


.index{
    border: 1px solid #7c7c7c83;
    position: absolute;
    left: 0;
    width: 60px;
    
}
.index1{
    border-right: 1px solid #7c7c7c83;
    position: absolute;
    left: 0px;
    width: 60px;
}

.Qtd{
    border: 1px solid #7c7c7c83;;
    position: absolute;
    right: 121px;
    width: 60px;
}

.Qtd1{
    border-right: 1px solid #7c7c7c83;
    border-left: 1px solid #7c7c7c83;
    position: absolute;
    right: 121px;
    width: 60px;
}
.cod{
        border: 1px solid #7c7c7c83;;
        position: absolute;
        left: 61px;
        width: 100px;    
}
.cod1{
        border-right: 1px solid #7c7c7c83;
        position: absolute;
        left: 61px;
        width: 100px;    
}

.preco-produto{
    border: 1px solid #7c7c7c83;;
        position: absolute;
        right: 60px;
        width: 60px;
        
        
}
.preco-produto1{
        border-right: 1px solid #7c7c7c83;
        position: absolute;
        right: 60px;
        width: 60px;
}
.remover{
border: 1px solid #7c7c7c83;;
    position: absolute;
    right: 0;
    width: 60px;
}


.nome-produto{
    border: 1px solid #7c7c7c83;
    position: absolute;
    left: 162px;
    width: 204px;
}
.liCriar1{
    border: 1px solid #7c7c7c83;
    margin-top: -1px;
    background-color: #cecece79;
}

.correcaoEspacoLi{
 margin-top: 17px;

}

.labelQtd {
    align-items: center;
    color: var(--primary-color);
    display: flex;
    margin-left: 20px;
    position: absolute;
    top: 60px;
    left: 235px;
    outline: none;
}



.inputQtd {
    padding: 0;
    margin-left: 5px;
    color: var(--primary-color);
    width: 108px;
    border: 1px solid #7c7c7c83;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
}

.labelEAN {
 display: flex;
/* Torna o label um flex container */
 align-items: center;
/* Alinha os elementos verticalmente ao centro */
  margin-left: 30px; 
  margin-top: 10px;
             
}

.inputEAN {

    padding: 0;
    color: var(--primary-color);
    margin-left: 5px;
    width: 150px;
    border: 1px solid #7c7c7c83;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 23px;

}
.inputEAN::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}

.inputEAN:focus{
    outline: none;
    box-shadow: 0 0 1px #007bff;
}
.inputQtd:focus{
    outline: none;
    box-shadow: 0 0 1px #007bff;
}

.form-venda{
    border: 1px solid #7c7c7c83; 
    height: 190px;
}

.buttonAdd {
    background-color: #cececeb6;
    color: #000000;
    border-radius: 5px;
    font-weight: none;
    border-radius: 0;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;
    border: 1px solid #7c7c7c83;
}

.buttonAdd:hover {
    background-color: #7c9bb1ea;
    color: #000000;
    border: 1px solid #7c7c7c83;
}

.dadosCliente{
  position: absolute;
  top: 10px;
  left: 595px;
  background-color: #f0f0f0;
  width: 115px;

}
.formBusca{
    margin-top: 20px;
    border: 1px solid #7c7c7c83;
    margin-left: 20px;
    position: relative;
    
}
.dadosProduto{
    position: absolute;
    top:-11px;
    left: 10px;
    background-color:#f0f0f0;
}

.produto-encontrado {
    background-color: rgba(202, 202, 202, 0.37);
     padding-top: 3px;
     padding-bottom: 1px;
     width: 302px;
     height: 18px;
     padding-left: 5px;
     margin-top: 25px;
     display: flex; 
     margin-left: 63px;
     border: 1px solid #7c7c7c83;
}

.precoEncotrado {
    background-color: rgba(202, 202, 202, 0.37);
     padding-top: 3px;
     padding-bottom: 1px;
     width: 100px;
     height: 18px;
     padding-left: 5px;
     display: flex; 
     right: 15px;
     top: 25px;
     border: 1px solid #7c7c7c83;
     position: absolute;
}

.Produto{
    position: absolute;
    margin-top: 28px;
    margin-left: 5px;
}
.ProdutoPreço{
        position: absolute;
        margin-top: 28px;
        right: 125px;
    }

.lupa {
    width: 20px;
    height: auto;
    position: absolute;
    left: 70px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
} 

.labelTRD {
position: absolute;
top: 280px;
left: 600px;
font-size: 19px;
}

.inputTRD {
    padding: 0;
    color: var(--primary-color);
    margin-left: 5px;
    width: 140px;
    border: 1px solid #7c7c7c83;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 3px;
    margin-top: 10px;

}

.spanData{
    position: absolute;
    top: 55px;
    left: 950px;
}

.inputDate{
    padding: 0;
    margin-left: 5px;
    width: 140px;
    border: 1px solid #7c7c7c83;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 3px;
    margin-top: 10px;
    background-color: rgb(228, 228, 228);
}



.inputTRD::-webkit-inner-spin-button,
.inputTRD::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

.buttonFinalizar {
    background-color: #cececeb6;
    color: #000000;
    border-radius: 5px;
    font-weight: none;
    border-radius: 0;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;
    border: 1px solid #7c7c7c83;
    margin-right: 20px;
    width: 200px;
    font-size: 20px;
    margin-left: 50px;
}

.buttonFinalizar:hover {
        background-color: #7c9bb1ea;
        color: #000000;
        border: 1px solid #7c7c7c83;
}
.buttonCancelar {
    background-color: #cececeb6;
        color: #000000;
        border-radius: 5px;
        font-weight: none;
        border-radius: 0;
        text-align: center;
        margin-bottom: 25px;
        margin-top: 25px;
        border: 1px solid #7c7c7c83;
        margin-right: 20px;
        width:200px;
        font-size: 20px;
}

.buttonCancelar:hover {
        background-color: #7c9bb1ea;
        color: #000000;
        border: 1px solid #7c7c7c83;
}

.produto-encontrado {
    font-size: 14px;
}

.troco {
    left: 898px;
    color: #010102;
    font-size: 19px;
    top: 290px;
    position: absolute;
}

.spanTroco {
    padding: 0;
    margin-left: 5px;
    width: 150px;
    border: 1px solid #7c7c7c83;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 3px;
    margin-top: 15px;
    background-color: rgb(228, 228, 228);
    width: 150px;
    position: absolute;
    top: -20px;
}

.labelPagamento {
 margin-left: -255px;
}

.inputPagamento {

    padding: 0;
    margin-left: 5px;
    width: 150px;
border: 1px solid #7c7c7c83;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 3px;
    margin-top: 15px;
}


.labelCliente {
   margin-left: -180px;
}

.inputCliente {
        margin-top: 30px;
        padding: 0;
        color: var(--primary-color);
        margin-left: 5px;
        width: 250px;
        border: 1px solid #7c7c7c83;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 5px;}

.pagamento{
    position: absolute;
    top: 233px;
    margin-left: 5px;
    background-color: #f0f0f0;
    
}



.footerVenda {
    color: white;
    font-weight: normal;
}

.carrinhoSpan{
position: absolute;
top: 11px;      
left: 25px;    
background-color:#f0f0f0;
               }