/* MyComponent.css */
.register-queryProdutos {
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: red;
}
.containerTable{
    position: absolute;
    background-color: beige;
    left: 240px;
}
.query-Container {
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100vh;
    display: flex;
    
}

.my-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    cursor: pointer;
}



.my-table th,
.my-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.my-table th {
    background-color: #f2f2f2;
}

.my-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.thHead{
    background-color: blue;
}

.my-table .tr:hover {
background-color: rgb(0, 38, 87);
    color: rgb(255, 255, 255);
}
.thEAN{
    color: red;
    width: 100px;
    position: absolute;
}
.thNome{
    color: red;
    width: 170px;
    position: absolute;
    left: 119px;
}
.thEAN{
    color: red;
    width: 100px;
    position: absolute;
}
.thEAN{
    color: red;
    width: 100px;
    position: absolute;
}