
.registroH1{
    font-size: 15px;
    margin-bottom: 5px;
    margin-left: 150px;
}

.query-Container{
    height: 100vh;
    background-color: var(--corFundo);
    width: 1500px;
}
.register-queryProdutos{
    top: 20px;
    position: relative;
    background-color:var(--corFundo);
    margin-left: 233px;
}

.containerTable{
    /* background-color: #a80b0b; */
    position: relative;
    width: 990px;
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}

.ulInformacoes{
    position: absolute;
    width: 100%; 
    top: -20px;
}
.ulInformacoesTabela{
    position:relative;
    bottom: 4px;
    bottom: 18px;
    color: rgb(0, 38, 87);
}

.thEAN{
    position: absolute;
    width: 135px;
    background-color: rgb(0, 38, 87);
    left: 20px;
    border: 1px solid #7c7c7c83;
    color: white;
    
}
.thEAN1{
    position: absolute;
    width: 135px;
    left: 20px;
    margin-top: 2px;
    border: 1px solid #7c7c7c83;
    background-color: white;
    
}
.thNome {
    width: 185px;
    position: absolute;
    background-color: rgb(0, 38, 87);
    color: white;
    left: 156px;
    border: 1px solid #7c7c7c83;
}
.thNome1 {
    border: 1px solid #7c7c7c83;
    width:185px;
    position: absolute;
    left: 156px;
    margin-top: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: white;
}
.thPreco{
    width: 100px;
    position: absolute;
    width: 110px;
    background-color: rgb(0, 38, 87);
    color: white;
    left: 342px;
    border: 1px solid #7c7c7c83;
    
}
.thPreco1{
    position: absolute;
    width: 110px;
    left: 342px;
    margin-top: 2px;
    border: 1px solid #7c7c7c83;
    background-color: white;
}
.thDescricao{
    background-color: rgb(0, 38, 87);
    color: white;
    position: absolute;
    width: 250px;
    left: 453px;
    border: 1px solid #7c7c7c83;
}
.thDescricao1{
    position: absolute;
    width: 250px;
    left: 453px;
    margin-top: 2px;
    border: 1px solid #7c7c7c83;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: white;
}
.thCategoria{
    width: 180px;
    position: absolute;
    background-color: rgb(0, 38, 87);
    color: white;
    left: 704px;
    border: 1px solid #7c7c7c83;
    
}
.thCategoria1{
    position: absolute;
    width: 180px;
    left: 704px; 
    margin-top: 2px;
    border: 1px solid #7c7c7c83;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: white;
}

.thEstoque{
    border: 1px solid #7c7c7c83;
    width: 150px;
    position: absolute;
    width: 90px;
    left: 885px;
    background-color: rgb(0, 38, 87);
    color: white;
}
.thestoque1{
    border: 1px solid #7c7c7c83;
    width: 150px;
    position: absolute;
    width: 90px;
    left: 885px;
    margin-top: 2px;
    background-color: white;
}
.thestoque{
   font-size: 0;
   color: #f0f0f000;
}




