.loginH1{
color: white;
}
.logo{
    z-index: -1;
    position: absolute;
    top: 80px;
    align-items: center;
    width: 100%;
    font-size: 80px;
    display: flex;
    justify-content: center;
    color:rgb(0, 38, 87);
}
.formLogin{
    max-width: 300px;
    margin: 0 auto;
    padding: 30px;
    background-color:white;
    border: 1px solid rgb(0, 38, 87);
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
}
.imgMenuLogin{
    width: 80px;
    display: none;
}

footer{
    position: absolute;
    bottom: 5px;
    width: 100%;
    color: rgb(0, 38, 87);
}

.logar{
    background-color:rgb(0, 38, 87);
}

.logar:hover{
    color:rgb(0, 38, 87);
    border: 1px solid rgb(0, 38, 87);
}

.inputLogin{
   margin-top: 10px; 
   margin-bottom: 20px;
   padding: 8px;
   width: 275px;
   font-size: 16px;
   border: 1px solid rgb(0, 38, 87);
}
.inputLogin:focus {
    outline: none;
}

.inputSenha{
   padding: 8px;
    width: 275px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid rgb(0, 38, 87);
}

.inputSenha:focus {
    outline: none;
}

