/* Estilo para o formulário */
form {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

/* Estilo para o cabeçalho do formulário */
form h1 {
    font-size: 24px;
    color: #333;
}

/* Estilo para os campos de entrada */
form input  {
    width: 100%;
    padding: 10px;
    margin: 10px -10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.logar {
    width: 100%;
    padding: 10px;
    margin: 10px -10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;}


button {
    background-color: #007bff;
    /* Cor de fundo padrão do botão */
    color: #fff;
    /* Cor do texto padrão do botão */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* Transição suave de cor de fundo */
}

button:hover {
    background-color: #0056b3;
    /* Cor de fundo quando o mouse passa sobre o botão */
}


.logo{
    position: absolute;
    top: 80px;
    align-items: center;
    width: 100%;
    font-size: 80px;
    display: flex;
    justify-content: center;
    color:rgb(0, 38, 87);
    display: none;
}

.imgMenuLogin{
    width: 80px;
    display: none;
}

footer{
    position: absolute;
    bottom: 5px;
    width: 100%;
}