.loginH1{
color: rgb(0, 38, 87);
}
.logo{
    z-index: -1;
    position: absolute;
    top: 80px;
    align-items: center;
    width: 100%;
    font-size: 80px;
    display: flex;
    justify-content: center;
    color:rgb(0, 38, 87);
}

.imgMenuLogin{
    width: 80px;
    display: none;
}

footer{
    position: absolute;
    bottom: 5px;
    width: 100%;
    color: rgb(0, 38, 87);
}

.logar{
    background-color:rgb(0, 38, 87) ;
}

.inputLogin{
   margin-top: 10px; 
   margin-bottom: 10px;
   padding: 8px;
   width: 275px;
   font-size: 15px;
}
.inputLogin:focus {
    outline: none;
}

.inputSenha{
   padding: 8px;
    width: 275px;
    font-size: 15px;
}


.inputSenha:focus {
    outline: none;
}

