* {
    margin: 0;
    padding: 0;
}
.link {
    text-decoration: none;
    color: white;
}

.container {
    display: flex;
    position: absolute;
    left: 0;
}

ul {
    list-style: none;
}

.menu {
    width: 230px;
    height: 100vh;
    box-sizing: border-box;
    background: rgb(0, 38, 87);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.nameStore {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    background: rgb(0, 38, 87);
    display: flex;
    align-items: center;
    font-size: 25px;
}

.imgMenu {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.nameMenu {
    margin-top: 30px;
    padding: 10px;
    font-size: 20px;
    text-align: left;
}

.exit {
    position: absolute;
    bottom: 0px;
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-left: 0px;
    background: rgb(0, 38, 87);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 10px;
}

.exit:hover {
    background-color: #ffffff;
    color: rgb(0, 43, 100);
    width: 230px;
}

.imgExit {
    width: 40px;
    margin-right: 2px;

}

.listaMenu {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    text-align: left;
}

.listaMenu:hover {
    color: rgb(0, 43, 100);
    padding-top: 5px;
    padding-bottom: 5px;
    background: rgb(255, 255, 255);

}

/*CSS menu tela*/
.menuScreen {
    text-align: center;
    height: 100vh;
    width: 470px;
    display: flex;
    align-items: center;
}

.ulMenuScreen {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    cursor: pointer;
}

.imgClass {
    width: 150px;
}

.realizarVenda {
    box-sizing: border-box;
    border: solid 1px rgba(0, 38, 87, 0.329);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    color: rgb(0, 38, 87);
}

.realizarVenda:hover {
    border: 1px solid rgb(0, 38, 87);
}

.detalhesVenda {
    box-sizing: border-box;
    border: solid 1px rgba(0, 38, 87, 0.329);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    color: rgb(0, 38, 87);
}

.detalhesVenda:hover {
    border: 1px solid rgb(0, 38, 87);
}

.cadastroProdutos {
    box-sizing: border-box;
    border: solid 1px rgba(0, 38, 87, 0.329);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    color: rgb(0, 38, 87);
}

.cadastroProdutos:hover {
    border: 1px solid rgb(0, 38, 87);
}

.entradaSaida {
    box-sizing: border-box;
    border: solid 1px rgba(0, 38, 87, 0.329);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    color: rgb(0, 38, 87);
}

.entradaSaida:hover {
    border: 1px solid rgb(0, 38, 87);
}