*{
margin: 0;
padding: 0;
}

/* CSS Menu lateral */
body{
display: flex;
}
.menu{
  width: 230px;
  height: 100vh;
  box-sizing: border-box;
  background:rgb(17, 40, 117);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}
.nameStore{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  background: rgb(0, 38, 87);
  display: flex;
  align-items: center;
  font-size: 25px;
}
.imgMenu{
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.nameMenu{
  margin-top: 30px;
  padding: 10px;
  font-size: 20px;
}

.listaMenu:hover{
  color: rgb(0, 43, 100);
  width: 230px;
  padding-top: 5px;
  background: rgb(255, 255, 255);
  border-radius: 5px;
}

.exit {
  position: absolute;
  bottom: 0px;
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-left: 0px;
  background: rgb(0, 38, 87);
  width: 230px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 10px;
}
.exit:hover {
  background-color: #ffffff;
  color:rgb(0, 43, 100);
}
.imgExit{
  width: 40px;
  margin-right: 2px;
  
}

.listaMenu{
    margin: 5px;
    padding: 5px;
    margin-top: 10px;
    cursor: pointer;
}

/*CSS menu tela*/
.menuScreen{
   text-align: center;
   height: 100vh;

}